{% extends 'blog/base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<div class="container">
<row>
    <h3>Пост 1</h3>
    <div>Какой-то текст</div>
<iframe width="560" height="315"
  src="https://www.youtube.com/embed/3fv2fC114Z0"
  title="YouTube video player" frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen>
</iframe>
    <div>Ещё текст</div>
</row>
</div>
<hr>
<row>
    <div>
        alskdjfaslkj
    </div>
</row>
<hr>
{% endblock %}