{% extends 'blog/index.html' %}
{% load static %}
{% block content %}

<div class="container p-5">
<div class="header-bar">
  <h1>Profile</h1>
    <a href="{% url 'index' %}">Back</a>
</div>

<div class="card-body">
{% if user.profile.profile_pic %}
 <img src="{{ profile.profile_pic.url }}" height=100 width=100><br><br>
{% else %}
 <img src="{% static 'blog/images/cat.svg' %}" height=100 width=100><br><br>
{% endif %}

<p><strong>Username:</strong> {{ page_user }}</p><br><br>
<p><strong>О себе:</strong> {{ profile.bio }}</p><br><br>
<p><strong>Зарегистрирован с </strong>{{ page_user.date_joined }}</p>


{% if page_user.id == user.id %}
    <p>Привет</p>

{% endif %}

{% for p in posts %}
    <a href="{{ p.get_absolute_url }}">{{ p.title }} </a>
{% endfor %}


</div>
</div>
{% endblock content %}
